@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* Light Mode */
.btn-primary {
    background-color: #5FA8D3; /* Soft blue */
    border-color: #5FA8D3;
    color: white;
}

.btn-primary:hover {
    background-color: #A8DADC; /* Light teal for hover in light mode */
    border-color: #A8DADC;
    color: #1D3557; /* Soft dark navy for contrast */
}

/* Dark Mode */
[data-bs-theme="dark"] .btn-primary {
    background-color: #457B9D; /* Muted soft blue for dark mode */
    border-color: #457B9D;
    color: white;
}

[data-bs-theme="dark"] .btn-primary:hover {
    background-color: #E63946; /* Warm coral red for hover in dark mode */
    border-color: #E63946;
    color: #F1FAEE; /* Light cream text for contrast */
}

/* Profile Image */
#profile {
    width: 80%;
    height: 80%;
    border-radius: 50%;
}

[data-bs-theme="dark"] #profile {
    border: 2px solid #F1FAEE; /* Soft white border for dark mode */
    box-shadow: 0 0 0.3rem #F1FAEE,
                0 0 0.4rem #F1FAEE,
                0 0 1.5rem #457B9D,
                0 0 1rem #457B9D,
                0 0 3rem #457B9D,
                inset 0 0 1.5rem #457B9D;
}

.skill-item {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .skill-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
  footer a:hover {
    color: #0081C9; /* Warna biru lembut */
    text-decoration: underline;
}
